 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 884px;
}

.u-section-1 .u-group-1 {
  min-height: 695px;
  height: auto;
  margin: 95px auto 95px 0;
}

.u-section-1 .u-image-1 {
  width: 912px;
  height: 214px;
  margin: 70px auto 0;
}

.u-section-1 .u-text-1 {
  position: relative;
  margin: 75px 20px 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 2px;
  width: 730px;
  margin: 20px auto 0;
}

.u-section-1 .u-line-1 {
  height: 99px;
  transform-origin: center top 0;
  width: 10px;
  margin: 35px auto 70px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    width: 752px;
    height: 176px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    width: 602px;
  }

  .u-section-1 .u-line-1 {
    width: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 576px;
    height: 135px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    width: 461px;
  }

  .u-section-1 .u-line-1 {
    width: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
    height: 127px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-2 {
    width: 432px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    min-height: 718px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 78px;
    margin-top: 119px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 382px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 67px auto 67px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 248px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  position: relative;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  position: relative;
  margin: 20px 0 0;
}

.u-section-2 .u-line-1 {
  height: 42px;
  transform-origin: center top 0;
  width: 10px;
  margin: 20px auto 15px 0;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 248px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-3 {
  position: relative;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  position: relative;
  margin: 20px 0 0;
}

.u-section-2 .u-line-2 {
  height: 42px;
  transform-origin: center top 0;
  width: 10px;
  margin: 20px auto 15px 0;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 248px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  font-size: 1.5rem;
}

.u-section-2 .u-text-6 {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-line-3 {
  height: 42px;
  transform-origin: center top 0;
  width: 10px;
  margin: 45px auto 15px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-line-1 {
    width: 8px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-line-2 {
    width: 8px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-line-3 {
    width: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 326px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-line-1 {
    width: 6px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 326px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-line-2 {
    width: 10px;
    margin-top: 45px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 326px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-line-3 {
    width: 10px;
    margin-top: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1112px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 341px;
    margin: 66px auto 68px 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-2 .u-line-2 {
    width: 9px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-2 .u-line-3 {
    width: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1046px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 54px;
    margin-bottom: 14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 1px;
    padding-right: 1px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 616px;
}

.u-section-3 .u-text-1 {
  font-size: 8rem;
  font-weight: 700;
  margin: 47px 479px 0 41px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -56px auto 26px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 459px;
}

.u-section-3 .u-text-2 {
  position: relative;
  margin: 20px 20px 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  margin: 20px -360px 0 209px;
}

.u-section-3 .u-line-1 {
  height: 50px;
  transform-origin: center top 0;
  width: 10px;
  margin: 20px 161px 45px auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 459px;
}

.u-section-3 .u-container-layout-2 {
  padding-right: 20px;
  padding-left: 20px;
}

.u-section-3 .u-text-4 {
  margin: 208px 0 45px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 459px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-5 {
  margin: 208px 0 45px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 313px;
    margin-left: 34px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 478px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-3 {
    margin-right: -297px;
    margin-left: 172px;
  }

  .u-section-3 .u-line-1 {
    margin-right: 131px;
    margin-bottom: 50px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 478px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 16px;
    padding-left: 16px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 478px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 93px;
    margin-left: 21px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: -187px;
    margin-left: 45px;
  }

  .u-section-3 .u-line-1 {
    margin-right: auto;
    margin-bottom: 55px;
    margin-left: 45px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 528px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 236px;
    margin-bottom: 17px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 528px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 236px;
    margin-bottom: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 73px;
    margin-right: 0;
    margin-left: 27px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -173px;
    margin-bottom: 94px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 47px;
    margin-left: 155px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 27px;
    margin-bottom: 0;
    margin-left: 155px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 190px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 5px;
    padding-left: 5px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 16px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 203px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 35px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1039px;
  }

  .u-section-3 .u-text-1 {
    font-size: 6rem;
    margin-top: 68px;
    margin-left: 4px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -86px;
    margin-bottom: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 14px;
    margin-left: 46px;
    width: 280px;
  }

  .u-section-3 .u-line-1 {
    margin-left: 46px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 1px;
    padding-left: 1px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 1px;
    padding-right: 1px;
  }
} .u-section-4 {
  min-height: 837px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-1 {
  background-image: url("images/pexelsphoto1005644.jpeg");
  min-height: 419px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-2 {
  background-image: url("images/pexelsphoto110818.jpeg");
  min-height: 419px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-3 {
  background-image: url("images/pexelsphoto1166643.jpeg");
  min-height: 419px;
  background-position: 87.89% 50%;
}

.u-section-4 .u-image-4 {
  background-image: url("images/pexelsphoto842158.jpeg");
  min-height: 419px;
  background-position: 8.81% 50%;
}

.u-section-4 .u-image-5 {
  background-image: url("images/pexelsphoto567452.jpeg");
  min-height: 419px;
  background-position: 34.47% 50%;
}

.u-section-4 .u-image-6 {
  background-image: url("images/pexelsphoto876466.jpeg");
  min-height: 419px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-7 {
  background-image: url("images/pexelsphoto761977.jpeg");
  min-height: 419px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-8 {
  background-image: url("images/pexelsphoto1866970.jpeg");
  min-height: 419px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 779px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 89px auto 80px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 447px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  position: relative;
  margin: 58px auto 0 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 38px 0 45px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 447px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 51px auto 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  margin: 27px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 38px 0 45px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 447px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 58px auto 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-6 {
  margin: 39px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-icon-1 {
    height: 53px;
    width: 53px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-icon-2 {
    height: 53px;
    width: 53px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-icon-3 {
    height: 53px;
    width: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-1 {
    height: 40px;
    width: 40px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-2 {
    height: 40px;
    width: 40px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-3 {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1337px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 362px;
    margin: 68px auto 0 89px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 307px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-icon-1 {
    height: 38px;
    width: 38px;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 307px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-icon-2 {
    height: 38px;
    width: 38px;
  }

  .u-section-5 .u-text-4 {
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 307px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-icon-3 {
    height: 38px;
    width: 38px;
  }

  .u-section-5 .u-text-6 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-top: 58px;
    margin-bottom: 135px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 1px;
    padding-right: 1px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 392px;
}

.u-section-6 .u-image-1 {
  width: 951px;
  min-height: 486px;
  height: auto;
  background-image: linear-gradient(0deg, rgba(178,60,138,0.2), rgba(178,60,138,0.2)), url("images/pexelsphoto1058367.jpeg");
  background-position: 50% 0%;
  margin: -192px auto 40px;
}

.u-section-6 .u-container-layout-1 {
  margin-bottom: 0;
}

.u-section-6 .u-text-1 {
  width: 691px;
  margin: 133px 130px 0;
}

.u-section-6 .u-text-2 {
  width: 612px;
  margin: 20px auto 0;
}

.u-section-6 .u-line-1 {
  height: 52px;
  transform-origin: center top 0;
  width: 10px;
  margin: 179px auto -26px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    width: 784px;
    height: auto;
  }

  .u-section-6 .u-text-1 {
    width: 570px;
    margin-left: 107px;
    margin-right: 107px;
  }

  .u-section-6 .u-text-2 {
    width: 505px;
  }

  .u-section-6 .u-line-1 {
    width: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-6 .u-image-1 {
    width: 601px;
    min-height: 543px;
    margin-top: -146px;
  }

  .u-section-6 .u-text-1 {
    width: 436px;
    margin-top: 87px;
    margin-left: 68px;
    margin-right: 68px;
  }

  .u-section-6 .u-text-2 {
    width: 387px;
  }

  .u-section-6 .u-line-1 {
    width: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    width: 540px;
  }

  .u-section-6 .u-text-1 {
    width: 409px;
    margin-top: 89px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    width: 362px;
    margin-top: 18px;
    margin-right: 89px;
    margin-left: 89px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    width: 340px;
    min-height: 646px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 26px;
    margin-right: 26px;
    width: 287px;
  }

  .u-section-6 .u-line-1 {
    margin-left: 165px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 270px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 912px;
  margin: 44px auto 44px 114px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 91px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-image-1 {
  width: 221px;
  left: 31px;
  right: auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 91px;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-image-2 {
  width: 216px;
  left: 34px;
  right: auto;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 91px;
}

.u-section-7 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-image-3 {
  width: 218px;
  left: 33px;
  right: auto;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 91px;
}

.u-section-7 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-image-4 {
  width: 328px;
  height: 63px;
  margin: 14px auto;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 91px;
}

.u-section-7 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-image-5 {
  width: 312px;
  height: 65px;
  margin: 13px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 752px;
    margin-left: 94px;
  }

  .u-section-7 .u-image-1 {
    width: 183px;
    left: 26px;
  }

  .u-section-7 .u-image-2 {
    width: 178px;
    left: 28px;
  }

  .u-section-7 .u-image-3 {
    width: 179px;
    left: 27px;
  }

  .u-section-7 .u-image-4 {
    width: 270px;
    height: 52px;
  }

  .u-section-7 .u-image-5 {
    width: 257px;
    height: 54px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 576px;
    margin-left: 59px;
  }

  .u-section-7 .u-image-1 {
    width: 140px;
    left: 218px;
  }

  .u-section-7 .u-image-2 {
    width: 137px;
    left: 76px;
  }

  .u-section-7 .u-image-3 {
    width: 137px;
    left: 75px;
  }

  .u-section-7 .u-image-4 {
    width: 207px;
    height: 63px;
    margin-bottom: 10px;
  }

  .u-section-7 .u-image-5 {
    width: 197px;
    height: 65px;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 329px;
    margin-left: 106px;
  }

  .u-section-7 .u-image-1 {
    width: 226px;
    left: 52px;
  }

  .u-section-7 .u-image-2 {
    width: 226px;
    left: 52px;
  }

  .u-section-7 .u-image-3 {
    width: 221px;
    left: 54px;
  }

  .u-section-7 .u-image-4 {
    width: 238px;
    height: 77px;
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .u-section-7 .u-image-5 {
    width: 241px;
    height: 78px;
    margin-top: 6px;
    margin-bottom: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-left: 6px;
  }
} .u-section-8 {
  min-height: 500px;
}

.u-section-8 .u-image-1 {
  background-image: url("images/pexelsphoto861121.jpeg");
  min-height: 500px;
  background-position: 50% 50%;
}

.u-section-8 .u-image-2 {
  background-image: url("images/pexelsphoto1020325.jpeg");
  min-height: 500px;
  background-position: 50% 50%;
}

.u-section-8 .u-image-3 {
  background-image: url("images/pexelsphoto1586483.jpeg");
  min-height: 500px;
  background-position: 50% 50%;
}

.u-section-8 .u-image-4 {
  background-image: url("images/pexelsphoto1181735.jpeg");
  min-height: 500px;
  background-position: 50% 50%;
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 415px;
}

.u-section-9 .u-group-1 {
  width: 754px;
  min-height: 291px;
  height: auto;
  margin: 62px auto;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-9 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-9 .u-text-2 {
  position: relative;
  margin: 20px 0 0;
}

.u-section-9 .u-line-1 {
  height: 49px;
  width: 10px;
  transform-origin: center top 0;
  margin: 20px auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    width: 622px;
    height: auto;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-9 .u-line-1 {
    width: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-group-1 {
    width: 476px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-line-1 {
    width: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-group-1 {
    width: 446px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-group-1 {
    width: 340px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-9 .u-line-1 {
    width: 5px;
  }
}