 .u-section-1 {
  background-image: url("images/2686700.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 687px;
}

.u-section-1 .u-text-1 {
  font-size: 5.5rem;
  font-weight: 700;
  margin: 160px 466px 0 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-weight: 600;
  font-size: 1rem;
  margin: -36px 689px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 43px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 266px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 489px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 74px;
    margin-right: 46px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 360px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 66.8% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.375rem;
    width: auto;
    margin-top: 45px;
    margin-right: 119px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 180px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 67.33% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 205px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-sheet-1 {
  min-height: 421px;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 291px;
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0 144px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0 144px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0 144px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0 144px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 390px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    width: 225px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-3 {
    width: 225px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-5 {
    width: 225px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-7 {
    width: 225px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
} .u-section-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-sheet-1 {
  min-height: 420px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 60px 105px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  width: 780px;
  font-weight: 400;
  margin: 28px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 765px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 649px;
}

.u-section-4 .u-container-layout-1 {
  padding: 50px 21px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.125rem;
  margin: 38px 9px 0;
}

.u-section-4 .u-text-2 {
  font-size: 3.4375rem;
  margin: 6px 18px 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 16px 9px 0;
}

.u-section-4 .u-text-4 {
  margin: 24px 9px 0;
}

.u-section-4 .u-image-1 {
  background-image: url("images/56.jpg");
  background-position: 38.58% 0%;
  min-height: 645px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

.u-section-4 .u-image-2 {
  background-image: url("images/dddd.jpg");
  background-position: 50% 50%;
  min-height: 323px;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px;
}

.u-section-4 .u-image-3 {
  background-image: url("images/54e1d24a4951ab14f6da8c7dda79367d1d38d6ed5b586c48702779d59744cd59bb_1280.jpg");
  background-position: 50% 50%;
  min-height: 322px;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 535px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.75rem;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 532px;
  }

  .u-section-4 .u-image-2 {
    min-height: 266px;
  }

  .u-section-4 .u-image-3 {
    min-height: 266px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1578px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 486px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-1 {
    min-height: 486px;
  }

  .u-section-4 .u-image-2 {
    min-height: 486px;
  }

  .u-section-4 .u-image-3 {
    min-height: 486px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1512px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    min-height: 729px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 365px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 365px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-4 .u-image-1 {
    min-height: 459px;
  }

  .u-section-4 .u-image-2 {
    min-height: 230px;
  }

  .u-section-4 .u-image-3 {
    min-height: 230px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 737px;
}

.u-section-5 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1140px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 737px;
  pointer-events: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  letter-spacing: 3px;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-size: 3.75rem;
  text-transform: none;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-5 .u-btn-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  background-image: linear-gradient(to right, #ff6918, #f43702);
  margin: 30px auto 0 0;
  padding: 14px 48px;
}

.u-section-5 .u-image-1 {
  min-height: 737px;
  pointer-events: auto;
  background-image: url("images/OBC8MR0.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 608px;
  }

  .u-section-5 .u-image-1 {
    min-height: 608px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 466px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1179px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 699px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    min-height: 440px;
  }
} .u-section-6 {
  min-height: 837px;
}

.u-section-6 .u-image-1 {
  height: 613px;
  object-position: 50% 19.23%;
  background-position: 50% 19.23%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-6 .u-list-1 {
  width: 1050px;
  margin: -153px auto 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 18.6667px));
  min-height: 311px;
  grid-gap: 28px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 99px;
  width: 99px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  text-transform: uppercase;
  margin: 16px 0 0;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-6 .u-list-item-2 {
  background-size: auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  height: 99px;
  width: 99px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  text-transform: uppercase;
  margin: 16px 0 0;
}

.u-section-6 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-6 .u-list-item-3 {
  background-size: auto;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-icon-3 {
  height: 99px;
  width: 99px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  font-weight: 400;
  text-transform: uppercase;
  margin: 16px 0 0;
}

.u-section-6 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 804px;
  }

  .u-section-6 .u-image-1 {
    margin-left: initial;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 1165px;
  }

  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 14px));
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1269px;
  }

  .u-section-6 .u-image-1 {
    height: 457px;
    margin-left: initial;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1400px;
  }

  .u-section-6 .u-image-1 {
    height: 513px;
    margin-left: initial;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 460px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 60px auto 10px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 390px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  margin: 21px 0 0;
}

.u-section-7 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 21px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 390px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 31px 30px 30px;
}

.u-section-7 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 322px;
  }

  .u-section-7 .u-image-1 {
    height: 272px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 247px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 247px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-7 .u-image-1 {
    height: 208px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 618px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 520px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 167px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 389px;
  }

  .u-section-7 .u-image-1 {
    height: 327px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-8 {
  background-image: url("images/fvmin.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 730px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 30px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 270px;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  margin: 14px auto 0;
}

.u-section-8 .u-line-1 {
  width: 106px;
  height: 3px;
  transform-origin: left center;
  margin: 21px auto 0;
}

.u-section-8 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 24px auto 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 370px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-8 .u-icon-1 {
  height: 38px;
  width: 38px;
  background-image: none;
  margin: 0 461px 0 0;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  margin: 10px auto 0 0;
}

.u-section-8 .u-icon-2 {
  height: 38px;
  width: 38px;
  background-image: none;
  margin: 25px 461px 0 0;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  margin: 10px auto 0 0;
}

.u-section-8 .u-icon-3 {
  height: 38px;
  width: 38px;
  background-image: none;
  margin: 30px auto 0 0;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  margin: 10px auto 0 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 370px;
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 15px 20px;
}

.u-section-8 .u-form-1 {
  margin: 0;
}

.u-section-8 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #ff6918, #f43702);
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 223px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 305px;
  }

  .u-section-8 .u-icon-1 {
    margin-right: 372px;
  }

  .u-section-8 .u-icon-2 {
    margin-right: 372px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 305px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 135px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-icon-1 {
    margin-right: 262px;
  }

  .u-section-8 .u-icon-2 {
    margin-right: 262px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-8 .u-icon-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-3 {
    margin-left: 51px;
    margin-right: 51px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-4 {
    margin-left: auto;
  }

  .u-section-8 .u-icon-3 {
    margin-left: auto;
  }

  .u-section-8 .u-text-5 {
    margin-left: auto;
  }

  .u-section-8 .u-container-layout-3 {
    padding-top: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}