.u-section-1 .u-sheet-1 {
  min-height: 666px;
}

.u-section-1 .u-group-1 {
  width: 661px;
  min-height: 321px;
  height: auto;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 85px auto 0 11px;
}

.u-section-1 .u-container-layout-1 {
  padding: 13px 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 42px 20px 0 40px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 11px 40px 0;
}

.u-section-1 .u-shape-1 {
  width: 268px;
  height: 268px;
  background-image: linear-gradient(white, #baedff);
  margin: -148px -93px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 748px;
  height: 631px;
  margin: -515px -93px 24px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 33px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 33px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -56px;
    margin-right: -50px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -501px;
    margin-right: -50px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-1 .u-group-1 {
    width: 662px;
    min-height: 265px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 8px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 15px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -499px;
    margin-right: -28px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 12px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-1 .u-image-1 {
    height: 456px;
    margin-top: -426px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 18px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-image-1 {
    height: 390px;
    width: 390px;
    margin: -378px -25px 18px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 683px;
}

.u-section-2 .u-image-1 {
  width: 678px;
  height: 656px;
  margin: 13px auto 0 -91px;
}

.u-section-2 .u-group-1 {
  width: 660px;
  min-height: 611px;
  height: auto;
  background-image: linear-gradient(white, #baedff);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -646px -74px 49px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 13px 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 32px 78px 0 17px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 27px 60px 0 50px;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 17px 78px 0 17px;
}

.u-section-2 .u-icon-4 {
  font-size: 1.4167em;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 9px 55px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-2 .u-image-1 {
    width: 513px;
    height: 597px;
    margin-top: 71px;
    margin-left: -43px;
  }

  .u-section-2 .u-group-1 {
    width: 488px;
    min-height: 739px;
    margin-top: -640px;
    margin-right: -31px;
    margin-bottom: 60px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 24px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 34px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 17px;
    margin-right: 60px;
    margin-left: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1121px;
  }

  .u-section-2 .u-image-1 {
    width: 686px;
    height: 590px;
    margin-top: 657px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: -1229px;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 19px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1053px;
  }

  .u-section-2 .u-image-1 {
    width: 565px;
    height: 523px;
    margin-top: 689px;
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -1191px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 12px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1142px;
  }

  .u-section-2 .u-image-1 {
    height: 371px;
    width: 365px;
    margin-top: 846px;
  }

  .u-section-2 .u-group-1 {
    width: 373px;
    min-height: 872px;
    margin-top: -1204px;
    margin-left: -16px;
    margin-right: -16px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 18px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 48px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 18px;
    margin-right: 18px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 633px;
}

.u-section-3 .u-image-1 {
  width: 543px;
  height: 543px;
  margin: 45px -41px 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: -547px auto 0 67px;
}

.u-section-3 .u-list-1 {
  width: 703px;
  margin: 8px auto 60px 31px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 368px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 10px 0;
}

.u-section-3 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: linear-gradient(white, #baedff);
  min-height: 194px;
  height: auto;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-2 {
  margin: 22px 0 0;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 11px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 10px 0;
}

.u-section-3 .u-group-2 {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: linear-gradient(white, #baedff);
  min-height: 194px;
  height: auto;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-3 {
  margin: 22px 0 0;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 11px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px 10px 0;
}

.u-section-3 .u-group-3 {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: linear-gradient(white, #baedff);
  min-height: 194px;
  height: auto;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-4 {
  margin: 22px 0 0;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 11px auto 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 10px 10px 0;
}

.u-section-3 .u-group-4 {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: linear-gradient(white, #baedff);
  min-height: 194px;
  height: auto;
}

.u-section-3 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-5 {
  margin: 22px 0 0;
}

.u-section-3 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 11px auto 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 10px 10px 0;
}

.u-section-3 .u-group-5 {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: linear-gradient(white, #baedff);
  min-height: 194px;
  height: auto;
}

.u-section-3 .u-container-layout-10 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-6 {
  margin: 22px 0 0;
}

.u-section-3 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 11px auto 0;
}

.u-section-3 .u-container-layout-11 {
  padding: 10px 10px 0;
}

.u-section-3 .u-group-6 {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: linear-gradient(white, #baedff);
  min-height: 194px;
  height: auto;
}

.u-section-3 .u-container-layout-12 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-7 {
  margin: 22px 0 0;
}

.u-section-3 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 11px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    width: 479px;
    height: 496px;
    margin-top: 22px;
    margin-right: -50px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -533px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-5 {
    height: auto;
  }

  .u-section-3 .u-container-layout-10 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-6 {
    height: auto;
  }

  .u-section-3 .u-container-layout-12 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1453px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 972px;
    margin-right: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -1422px;
    margin-left: auto;
  }

  .u-section-3 .u-list-1 {
    margin-top: 46px;
    margin-left: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 837px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1979px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 1514px;
    margin-left: 12px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -1924px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    min-height: 1338px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1758px;
  }

  .u-section-3 .u-image-1 {
    height: 340px;
    width: 340px;
    margin-top: 1418px;
    margin-right: -12px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: -1758px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 9px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    min-height: 1364px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 705px;
}

.u-section-4 .u-image-1 {
  width: 565px;
  height: 544px;
  margin: 60px auto 0 -34px;
}

.u-section-4 .u-group-1 {
  width: 660px;
  min-height: 644px;
  height: auto;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -559px -74px 49px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 13px 0;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 23px 81px 0 14px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 19px 61px 0 49px;
}

.u-section-4 .u-table-1 {
  width: 400px;
  margin: 19px auto 0 49px;
}

.u-block-1b92-47 {
  height: 46px;
}

.u-block-1b92-61 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-4 .u-image-1 {
    width: 513px;
    height: 499px;
    margin-top: 50px;
    margin-left: -30px;
  }

  .u-section-4 .u-group-1 {
    width: 488px;
    min-height: 665px;
    margin-top: -522px;
    margin-right: -31px;
    margin-bottom: 60px;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 14px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 28px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-4 .u-table-1 {
    margin-left: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1126px;
  }

  .u-section-4 .u-image-1 {
    width: 532px;
    height: 541px;
    margin-top: 611px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    min-height: 680px;
    margin-top: -1118px;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 4px;
  }

  .u-section-4 .u-table-1 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1053px;
  }

  .u-section-4 .u-image-1 {
    width: 565px;
    height: 523px;
    margin-top: 605px;
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-4 .u-group-1 {
    min-height: 682px;
    margin-top: -1107px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 12px;
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1111px;
  }

  .u-section-4 .u-image-1 {
    height: 371px;
    width: 365px;
    margin-top: 794px;
  }

  .u-section-4 .u-group-1 {
    width: 373px;
    min-height: 837px;
    margin-top: -1139px;
    margin-left: -16px;
    margin-right: -16px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 18px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 48px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-4 .u-table-1 {
    width: 340px;
  }
}