 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Ilustracion-sin-titulo-2022-11-14T145812.657.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1039px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 626px;
  font-size: 4.5rem;
  font-weight: normal;
  font-family: Oswald, sans-serif;
  margin: 327px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  width: 626px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: 52px auto 0;
  padding: 10px 57px 10px 55px;
}

.u-section-1 .u-image-1 {
  width: 156px;
  height: 194px;
  margin: 13px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-1 .u-text-1 {
    width: 770px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 540px;
    margin-top: 544px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -170px;
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 321px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
    width: auto;
    margin-top: 40px;
    margin-right: -13px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 28px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 28px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 702px;
}

.u-section-2 .u-group-1 {
  width: 1053px;
  min-height: 702px;
  background-image: linear-gradient(#29003a, black);
  margin: 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 26px 427px 0 auto;
}

.u-section-2 .u-icon-1 {
  width: 74px;
  height: 74px;
  margin: 55px auto 0 319px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 524px;
  margin: -27px 60px 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 15.5px) calc(50% - 15.5px);
  min-height: 425px;
  grid-gap: 31px 31px;
}

.u-section-2 .u-list-item-1 {
  background-image: linear-gradient(#14001c, #d000cb);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 17px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(white, #f75cf3);
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: linear-gradient(#14001c, #d000cb);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 17px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(white, #f75cf3);
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: linear-gradient(#14001c, #d000cb);
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 17px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(white, #f75cf3);
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-4 {
  background-image: linear-gradient(#14001c, #d000cb);
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 17px;
}

.u-section-2 .u-icon-5 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(white, #f75cf3);
  margin: 20px auto 0;
}

.u-section-2 .u-image-1 {
  width: 512px;
  height: 383px;
  margin: -398px auto 0 -22px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    background-position: 50% 50%;
    width: 940px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 381px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 285px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 285px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16.5px));
    grid-gap: 33px;
  }

  .u-section-2 .u-image-1 {
    height: 384px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 45px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 292px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 218px;
  }

  .u-section-2 .u-list-1 {
    margin-left: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 219px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 164px;
  }

  .u-section-2 .u-list-1 {
    margin-left: 164px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1275px;
  }

  .u-section-2 .u-group-1 {
    min-height: 1232px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 138px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 905px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-list-1 {
    width: 202px;
    margin-top: -957px;
    margin-left: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 782px;
    grid-gap: 33px 33px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 11px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 11px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 11px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 11px;
  }

  .u-section-2 .u-image-1 {
    height: 255px;
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 782px;
}

.u-section-3 .u-shape-1 {
  width: 985px;
  height: 739px;
  background-image: linear-gradient(#29003a, black);
  margin: 57px auto 0;
}

.u-section-3 .u-text-1 {
  font-weight: normal;
  margin: -708px auto 0;
}

.u-section-3 .u-list-1 {
  width: 801px;
  margin: 36px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  min-height: 452px;
  grid-gap: 22px 22px;
}

.u-section-3 .u-list-item-1 {
  background-image: linear-gradient(#d000cb, #29003a);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 20px;
}

.u-section-3 .u-text-2 {
  margin: 0 50px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 11px 2px 0 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: linear-gradient(#d000cb, #29003a);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 20px;
}

.u-section-3 .u-text-4 {
  margin: 0 50px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 11px 2px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    width: 940px;
    margin-top: 74px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -922px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-shape-1 {
    width: 720px;
    margin-top: 174px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -1022px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-shape-1 {
    width: 540px;
    margin-top: 57px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -708px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-shape-1 {
    width: 340px;
    margin-top: 291px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -1030px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 23px;
    margin-bottom: 23px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 703px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 0;
  }
}