 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/5cfe14_30977ca5f4d04cc2a8977a980baf19a9_mv2.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 641px;
}

.u-section-1 .u-image-1 {
  width: 760px;
  height: 394px;
  filter: brightness(0.35);
  margin: 118px 180px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#29b7dd, #3b065e);
  margin: -70px 180px 0 auto;
  padding: 16px 289px 17px;
}

.u-section-1 .u-image-2 {
  width: 451px;
  height: 41px;
  margin: -202px 335px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 117px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 373px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -69px;
    margin-left: 0;
    padding-right: 269px;
    padding-left: 269px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -213px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 280px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -66px;
    margin-right: 0;
    padding-left: 179px;
    padding-right: 179px;
  }

  .u-section-1 .u-image-2 {
    width: 392px;
    height: 32px;
    margin-top: -183px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 176px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -37px;
    padding: 4px 79px;
  }

  .u-section-1 .u-image-2 {
    height: 22px;
    width: 277px;
    margin-top: -130px;
  }
}