.u-section-1 .u-sheet-1 {
  min-height: 606px;
}

.u-section-1 .u-image-1 {
  width: 591px;
  height: 444px;
  margin: 149px -42px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 293px;
  height: 293px;
  background-image: linear-gradient(white, #baedff);
  margin: -573px auto 0 -70px;
}

.u-section-1 .u-group-1 {
  width: 591px;
  min-height: 244px;
  height: auto;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -167px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 31px 13px 0 40px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 31px 59px 0 43px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-1 .u-image-1 {
    width: 387px;
    height: 387px;
    margin-top: 121px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -507px;
    margin-left: -34px;
  }

  .u-section-1 .u-group-1 {
    width: 481px;
    min-height: 501px;
    margin-top: -239px;
    margin-left: 22px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 24px;
    margin-right: 40px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-1 .u-image-1 {
    width: 441px;
    height: 441px;
    margin-top: 554px;
    margin-right: auto;
  }

  .u-section-1 .u-shape-1 {
    width: 245px;
    height: 245px;
    margin-top: -973px;
    margin-left: 24px;
  }

  .u-section-1 .u-group-1 {
    min-height: 487px;
    margin-top: -157px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 53px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-left: 38px;
    margin-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 541px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -965px;
    margin-left: -34px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -158px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 992px;
  }

  .u-section-1 .u-image-1 {
    height: 320px;
    width: 320px;
    margin-top: 619px;
  }

  .u-section-1 .u-shape-1 {
    width: 220px;
    height: 220px;
    margin-top: -872px;
    margin-left: -31px;
  }

  .u-section-1 .u-group-1 {
    min-height: 470px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin: 9px 20px -9px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 546px;
}

.u-section-2 .u-image-1 {
  width: 516px;
  height: 544px;
  margin: 1px auto 0 24px;
}

.u-section-2 .u-group-1 {
  width: 570px;
  background-image: linear-gradient(white, #baedff);
  min-height: 436px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -474px 0 39px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 17px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 438px;
  margin: 21px auto 0;
}

.u-section-2 .u-table-1 {
  width: 447px;
  margin: 30px auto 0;
}

.u-block-c305-52 {
  height: 46px;
}

.u-section-2 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-3 {
  font-weight: 700;
}

.u-block-c305-73 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-2 .u-image-1 {
    width: 398px;
    height: 398px;
    margin-left: 16px;
  }

  .u-section-2 .u-group-1 {
    width: 470px;
    min-height: 477px;
    margin-right: -22px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-2 .u-image-1 {
    width: 467px;
    height: 467px;
    margin-top: 366px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: -820px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-2 .u-image-1 {
    width: 447px;
    margin-top: 441px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -890px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 23px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-2 .u-image-1 {
    height: 358px;
    margin-top: 403px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: -735px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: 118px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-image-1 {
  width: 616px;
  height: 462px;
  margin: 38px -32px 0 auto;
}

.u-section-3 .u-group-1 {
  width: 521px;
  min-height: 324px;
  height: auto;
  background-image: linear-gradient(white, #baedff);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -393px auto 60px 20px;
}

.u-section-3 .u-container-layout-1 {
  padding: 13px 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 28px 14px 0 33px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 19px 36px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-3 .u-image-1 {
    width: 397px;
    height: 377px;
    margin-top: 70px;
    margin-right: -25px;
  }

  .u-section-3 .u-group-1 {
    margin-bottom: 53px;
    margin-left: -6px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-3 .u-image-1 {
    width: 458px;
    margin-top: 354px;
    margin-right: auto;
  }

  .u-section-3 .u-group-1 {
    margin-top: -716px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -697px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-3 .u-image-1 {
    height: 255px;
    margin-top: 495px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-1 {
    width: 373px;
    min-height: 481px;
    margin-top: -736px;
    margin-left: -17px;
    margin-right: -17px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: 48px;
    margin-left: 62px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 583px;
}

.u-section-4 .u-image-1 {
  width: 636px;
  height: 591px;
  margin: 64px auto 0 -49px;
}

.u-section-4 .u-shape-1 {
  width: 293px;
  height: 293px;
  background-image: linear-gradient(white, #baedff);
  margin: -687px 392px 0 auto;
}

.u-section-4 .u-group-1 {
  width: 610px;
  background-image: none;
  min-height: 259px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -208px -40px 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 17px 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 27px 48px 0 33px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 27px 64px 0 33px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-4 .u-image-1 {
    height: 601px;
    margin-top: 127px;
    margin-left: 16px;
  }

  .u-section-4 .u-shape-1 {
    width: 250px;
    height: 250px;
    margin-top: -785px;
    margin-right: auto;
    margin-left: 303px;
  }

  .u-section-4 .u-group-1 {
    width: 549px;
    min-height: 266px;
    margin-top: -177px;
    margin-right: 0;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 22px;
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 32px;
    margin-left: 42px;
    margin-right: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 1px;
    margin-left: auto;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -874px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: -145px;
    margin-right: auto;
    margin-bottom: 231px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 23px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 24px;
    margin-left: 54px;
    margin-right: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 240px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -821px;
    margin-right: -34px;
  }

  .u-section-4 .u-group-1 {
    min-height: 290px;
    margin-top: -182px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-4 .u-text-2 {
    width: 378px;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-4 .u-image-1 {
    height: 484px;
    margin-top: 345px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -810px;
    margin-right: -50px;
  }

  .u-section-4 .u-group-1 {
    min-height: 349px;
    margin-top: -159px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-top: 32px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 24px;
    margin-left: 19px;
    margin-right: 19px;
  }
}