.u-section-1 .u-sheet-1 {
  min-height: 586px;
}

.u-section-1 .u-image-1 {
  width: 513px;
  height: 513px;
  margin: 78px 0 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 293px;
  height: 293px;
  background-image: linear-gradient(white, #baedff);
  margin: -571px auto 0 -70px;
}

.u-section-1 .u-group-1 {
  width: 591px;
  min-height: 364px;
  height: auto;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -214px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 31px 13px 0 40px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 31px 37px 0 43px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-1 .u-image-1 {
    width: 472px;
    height: 472px;
    margin-top: 125px;
    margin-right: -43px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -546px;
    margin-left: -31px;
  }

  .u-section-1 .u-group-1 {
    width: 481px;
    min-height: 423px;
    margin-top: -207px;
    margin-bottom: 52px;
    margin-left: 22px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 24px;
    margin-right: 40px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 485px;
    margin-right: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -930px;
    margin-left: 15px;
  }

  .u-section-1 .u-group-1 {
    min-height: 468px;
    margin-top: -230px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 30px;
    margin-left: 38px;
    margin-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 2px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -980px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -167px;
    margin-bottom: -120px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-image-1 {
    height: 320px;
    width: 320px;
    margin-top: 630px;
  }

  .u-section-1 .u-shape-1 {
    width: 220px;
    height: 220px;
    margin-top: -859px;
    margin-left: -50px;
  }

  .u-section-1 .u-group-1 {
    min-height: 490px;
    margin-top: -144px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin: 9px 20px -9px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 653px;
}

.u-section-2 .u-image-1 {
  width: 531px;
  height: 651px;
  margin: 1px auto 0 27px;
}

.u-section-2 .u-group-1 {
  width: 570px;
  background-image: linear-gradient(white, #baedff);
  min-height: 325px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -626px 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 17px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 14px 59px 0 74px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 39px 59px 0 74px;
}

.u-section-2 .u-group-2 {
  background-image: linear-gradient(white, #baedff);
  min-height: 257px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 570px;
  margin: 14px 0 31px auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 17px 6px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 14px 53px 0 68px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 39px 53px 0 68px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -20px;
    margin-left: -50px;
  }

  .u-section-2 .u-group-1 {
    width: 470px;
    min-height: 346px;
    margin-top: -617px;
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: 58px;
  }

  .u-section-2 .u-group-2 {
    width: 470px;
    margin-bottom: 53px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1407px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 728px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: -1342px;
    margin-right: auto;
  }

  .u-section-2 .u-group-2 {
    margin-top: 51px;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1173px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 417px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: -1108px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 3px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 31px;
    margin-right: 31px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 615px;
}

.u-section-3 .u-image-1 {
  width: 543px;
  height: 289px;
  margin: 192px 27px 0 auto;
}

.u-section-3 .u-group-1 {
  width: 521px;
  min-height: 405px;
  height: auto;
  background-image: linear-gradient(white, #baedff);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -375px auto 60px 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 13px 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 28px 14px 0 33px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 33px 36px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-3 .u-image-1 {
    width: 455px;
    height: 242px;
    margin-top: 143px;
    margin-right: -30px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -324px;
    margin-bottom: 49px;
    margin-left: -20px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 573px;
    margin-right: auto;
  }

  .u-section-3 .u-group-1 {
    margin-top: -709px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 510px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -737px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 181px;
    margin-top: 665px;
  }

  .u-section-3 .u-group-1 {
    width: 373px;
    min-height: 396px;
    margin-top: -802px;
    margin-left: -16px;
    margin-right: -16px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: 263px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-4 {
  min-height: 521px;
}

.u-section-4 .u-sheet-1 {
  min-height: 521px;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 570px;
  margin: -49px auto 0 -34px;
}

.u-section-4 .u-shape-1 {
  width: 270px;
  height: 271px;
  background-image: linear-gradient(white, #baedff);
  margin: -553px -41px 0 auto;
}

.u-section-4 .u-group-1 {
  min-height: 179px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  background-image: none;
  width: 570px;
  margin: -169px 0 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 56px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    margin-top: 73px;
    margin-left: -14px;
  }

  .u-section-4 .u-shape-1 {
    height: 270px;
    margin-top: -671px;
  }

  .u-section-4 .u-group-1 {
    width: 509px;
    min-height: 194px;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 175px;
    margin-left: auto;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -734px;
    margin-right: 27px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -181px;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 491px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -729px;
    margin-right: -30px;
  }

  .u-section-4 .u-group-1 {
    min-height: 204px;
    margin-top: -191px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 291px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-4 .u-image-1 {
    height: 340px;
    margin-top: 210px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-shape-1 {
    width: 220px;
    height: 220px;
    margin-top: -550px;
    margin-right: -25px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -149px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}