.u-section-1 .u-sheet-1 {
  min-height: 489px;
}

.u-section-1 .u-shape-1 {
  width: 228px;
  height: 228px;
  background-image: linear-gradient(white, #b0f1ff);
  margin: 34px auto 0 -70px;
}

.u-section-1 .u-image-1 {
  width: 539px;
  height: 539px;
  margin: -328px 69px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 228px;
  height: 228px;
  background-image: linear-gradient(white, #b0f1ff);
  margin: -276px auto 0 281px;
}

.u-section-1 .u-group-1 {
  width: 468px;
  min-height: 233px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -308px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 23px 48px 0 42px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 18px 42px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 141px;
    margin-left: -50px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -252px;
    margin-right: -50px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -354px;
    margin-left: 242px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -284px;
    margin-bottom: 60px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 70px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -36px;
    margin-right: -33px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -595px;
    margin-right: 169px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -270px;
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    margin-top: 100px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 42px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -631px;
    margin-right: -22px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -331px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 77px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -485px;
    margin-right: -47px;
  }

  .u-section-1 .u-group-1 {
    width: 364px;
    min-height: 238px;
    margin-top: -321px;
    margin-left: -24px;
  }

  .u-section-1 .u-text-1 {
    width: 288px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 403px;
}

.u-section-2 .u-image-1 {
  width: 407px;
  height: 358px;
  margin: 0 auto 0 11px;
}

.u-section-2 .u-group-1 {
  width: 264px;
  min-height: 308px;
  background-image: linear-gradient(white, #b0f1ff);
  height: auto;
  margin: -341px 366px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 25px 16px;
}

.u-section-2 .u-text-1 {
  margin: 0 10px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 30px auto 0;
}

.u-section-2 .u-group-2 {
  width: 257px;
  min-height: 308px;
  height: auto;
  background-image: linear-gradient(white, #b0f1ff);
  margin: -308px 70px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 25px 18px;
}

.u-section-2 .u-text-2 {
  margin: 0 10px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 30px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-2 .u-image-1 {
    margin-left: -5px;
  }

  .u-section-2 .u-group-1 {
    min-height: 322px;
    margin-top: -347px;
    margin-right: 274px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 41px;
  }

  .u-section-2 .u-group-2 {
    min-height: 322px;
    margin-top: -333px;
    margin-right: 0;
    margin-bottom: 47px;
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    width: 185px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-2 .u-image-1 {
    width: 385px;
    height: 357px;
    margin-top: 350px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    min-height: 311px;
    margin-top: -696px;
    margin-left: 61px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    width: 208px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 29px;
  }

  .u-section-2 .u-group-2 {
    min-height: 311px;
    margin-top: -311px;
    margin-right: 70px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-2 {
    width: 179px;
    margin-top: 19px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1099px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 742px;
  }

  .u-section-2 .u-group-1 {
    width: 348px;
    min-height: 320px;
    margin-top: -1056px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    width: 192px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 34px;
  }

  .u-section-2 .u-group-2 {
    width: 348px;
    min-height: 317px;
    margin-top: 28px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 186px;
    margin-top: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1217px;
  }

  .u-section-2 .u-image-1 {
    height: 315px;
    margin-top: 827px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: -1032px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 27px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 20px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 406px;
}

.u-section-3 .u-image-1 {
  width: 551px;
  height: 307px;
  margin: 89px 0 0 auto;
}

.u-section-3 .u-group-1 {
  width: 548px;
  min-height: 337px;
  height: auto;
  background-image: linear-gradient(white, #b0f1ff);
  margin: -337px auto 0 22px;
}

.u-section-3 .u-container-layout-1 {
  padding: 18px 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  width: 366px;
  margin: 15px auto 0;
}

.u-section-3 .u-table-1 {
  width: 400px;
  margin: 32px auto 0;
}

.u-block-6491-5 {
  font-size: 1rem;
}

.u-block-6491-11 {
  height: 46px;
}

.u-section-3 .u-table-cell-1 {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-3 .u-table-cell-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-3 {
  font-size: 1rem;
}

.u-section-3 .u-table-cell-4 {
  background-image: none;
}

.u-section-3 .u-table-cell-5 {
  font-size: 1rem;
}

.u-section-3 .u-table-cell-6 {
  background-image: none;
}

.u-section-3 .u-table-cell-7 {
  font-size: 1rem;
}

.u-section-3 .u-table-cell-8 {
  background-image: none;
}

.u-block-6491-24 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 197px;
    margin-right: -50px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -458px;
    margin-bottom: 60px;
    margin-left: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 417px;
    margin-right: auto;
  }

  .u-section-3 .u-group-1 {
    margin-top: -676px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-top: -670px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 189px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: -559px;
  }

  .u-section-3 .u-text-1 {
    width: 320px;
  }

  .u-section-3 .u-table-1 {
    width: 320px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 862px;
}

.u-section-4 .u-image-1 {
  width: 521px;
  height: 521px;
  margin: 0 auto 0 49px;
}

.u-section-4 .u-shape-1 {
  width: 228px;
  height: 228px;
  background-image: linear-gradient(white, #b0f1ff);
  margin: -550px -15px 0 auto;
}

.u-section-4 .u-shape-2 {
  width: 192px;
  height: 192px;
  background-image: linear-gradient(white, #b0f1ff);
  margin: -35px 340px 0 auto;
}

.u-section-4 .u-group-1 {
  width: 530px;
  min-height: 179px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: -266px 24px 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  margin: 38px 19px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 1px;
    margin-left: -35px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -528px;
    margin-right: -50px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -56px;
    margin-right: 262px;
  }

  .u-section-4 .u-group-1 {
    width: 505px;
    min-height: 154px;
    margin-top: -301px;
    margin-right: 15px;
    margin-bottom: 306px;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 23px;
    margin-right: 33px;
    margin-left: 51px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 121px;
    margin-right: 80px;
    margin-left: auto;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -663px;
    margin-right: 0;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -69px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-group-1 {
    margin-top: -245px;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 34px;
    margin-left: 17px;
    margin-right: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 19px;
  }

  .u-section-4 .u-shape-1 {
    margin-right: -50px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -104px;
    margin-left: -47px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -210px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-left: 69px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-4 .u-image-1 {
    height: 340px;
    margin-top: 239px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -595px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -89px;
    margin-left: -50px;
  }

  .u-section-4 .u-group-1 {
    min-height: 218px;
    margin-top: -263px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 31px;
    margin-left: 18px;
    margin-right: 18px;
  }
}