 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/outerspace-58.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1031px;
}

.u-section-1 .u-image-1 {
  width: 746px;
  background-image: url("images/IMG-2021.JPG");
  min-height: 422px;
  height: auto;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 65px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 33px 220px 0 16px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 16px 288px 0 -52px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(to right, #ae4ae8, #e84a90);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 8px auto 0 16px;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-btn-3 {
  background-image: linear-gradient(to right, #e84a90, #ffca00);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 116px auto 0;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-group-2 {
  width: 962px;
  background-image: none;
  min-height: 438px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 46px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-2 {
  width: 275px;
  height: 275px;
  background-image: url("images/com22p_1.gif");
  background-position: 50% 50%;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: -269px -12px 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 3.75rem;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  margin: 22px auto 0;
}

.u-section-1 .u-group-3 {
  width: 287px;
  min-height: 290px;
  height: auto;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 24px auto 0 33px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.5rem;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 28px 63px 0 56px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 13px 75px 0 58px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-group-4 {
  min-height: 291px;
  height: auto;
  width: 271px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -291px 339px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 9px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 21px 46px 0 56px;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 13px 58px 0 53px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 33px auto 0;
  padding: 0;
}

.u-section-1 .u-group-5 {
  min-height: 290px;
  height: auto;
  width: 271px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -290px 42px 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px 9px;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  font-size: 1.5rem;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: 21px 19px 0 23px;
}

.u-section-1 .u-text-9 {
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 13px 11px 0 15px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 32px auto 0;
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 292px;
  height: 292px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -716px 158px 424px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-group-3 {
    margin-top: 23px;
    margin-left: 32px;
    height: auto;
  }

  .u-section-1 .u-text-5 {
    width: 208px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 30px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -285px;
    margin-right: auto;
    height: auto;
  }

  .u-section-1 .u-group-5 {
    margin-top: -286px;
    margin-right: 50px;
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 27px;
    padding-right: 27px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: -20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1205px;
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 207px;
    margin-left: 3px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 275px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 10px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 114px;
  }

  .u-section-1 .u-group-2 {
    min-height: 607px;
    width: 735px;
    margin-left: -15px;
  }

  .u-section-1 .u-group-3 {
    width: 285px;
    min-height: 288px;
    margin-top: 8px;
    margin-left: 2px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 73px;
    margin-left: 58px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -74px;
  }

  .u-section-1 .u-group-5 {
    min-height: 292px;
    margin-top: -509px;
    margin-right: 10px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -883px;
    margin-right: -21px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1304px;
  }

  .u-section-1 .u-image-1 {
    min-height: 445px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 17px;
    margin-right: 49px;
    margin-left: 53px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 4px;
    margin-right: 68px;
    margin-left: 65px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 15px;
    margin-left: 94px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 177px;
  }

  .u-section-1 .u-group-2 {
    min-height: 702px;
    width: 584px;
    margin-left: -22px;
    margin-right: -22px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    width: 271px;
    min-height: 284px;
    margin-top: 4px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 0;
    margin-right: 85px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 9px;
  }

  .u-section-1 .u-group-5 {
    min-height: 284px;
    width: 269px;
    margin-top: -584px;
    margin-right: 19px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-1 {
    width: 287px;
    height: 287px;
    margin-top: -979px;
    margin-right: -32px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1804px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 3px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    width: 238px;
    margin-top: 61px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 96px;
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    min-height: 994px;
    margin-top: 346px;
    width: 340px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -373px;
    margin-right: auto;
    margin-left: 29px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 126px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 321px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 26px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 21px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -590px;
  }

  .u-section-1 .u-group-5 {
    min-height: 275px;
    margin-top: 313px;
    margin-right: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -1373px;
    margin-right: auto;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/outerspace-58.gif");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1638px;
}

.u-section-2 .u-group-1 {
  width: 1099px;
  min-height: 537px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 41px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: 42px 169px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 409px;
  height: 439px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: -31px auto 0 49px;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  font-size: 1.25rem;
  margin: -362px 0 0 543px;
}

.u-section-2 .u-shape-1 {
  width: 33px;
  height: 32px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -157px auto 0;
}

.u-section-2 .u-shape-2 {
  width: 33px;
  height: 32px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 28px auto 0;
}

.u-section-2 .u-shape-3 {
  width: 33px;
  height: 32px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 34px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 49px 271px 0 auto;
  padding: 0;
}

.u-section-2 .u-group-2 {
  width: 1099px;
  min-height: 886px;
  height: auto;
  --animation-custom_in-scale: 1;
  margin: 64px auto 60px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 47px 131px 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -30px 512px 0 27px;
}

.u-section-2 .u-image-2 {
  width: 488px;
  height: 535px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -551px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1999px;
  }

  .u-section-2 .u-group-1 {
    min-height: 556px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 440px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -337px;
    margin-right: -130px;
    margin-left: 514px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -156px;
    margin-right: 426px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 32px;
    margin-right: 426px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 32px;
    margin-right: 426px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 46px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 49px;
    min-height: 1257px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 31px;
    margin-right: 184px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -26px;
    margin-left: 43px;
    margin-right: 43px;
  }

  .u-section-2 .u-image-2 {
    width: 752px;
    margin-top: 43px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2034px;
  }

  .u-section-2 .u-image-1 {
    width: 267px;
    height: 319px;
    margin-top: 9px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -256px;
    margin-right: -41px;
    margin-left: 315px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -162px;
    margin-right: auto;
    margin-left: 276px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 31px;
    margin-right: auto;
    margin-left: 276px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 36px;
    margin-right: auto;
    margin-left: 276px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 31px;
    margin-right: 245px;
  }

  .u-section-2 .u-group-2 {
    min-height: 1326px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    width: 572px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    width: 679px;
    height: 462px;
    margin-top: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2154px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 17px;
    min-height: 718px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 34px;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 257px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: -522px;
    margin-right: -220px;
    margin-left: 115px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -158px;
    margin-left: 72px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 32px;
    margin-left: 72px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 37px;
    margin-left: 72px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 269px;
    margin-right: auto;
  }

  .u-section-2 .u-group-2 {
    min-height: 1327px;
    margin-top: 32px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 6px;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    width: 394px;
    margin-top: 27px;
  }

  .u-section-2 .u-image-2 {
    width: 487px;
    height: 321px;
    margin-top: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2215px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 72px;
    min-height: 802px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 43px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 344px;
    margin-top: 307px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-top: -596px;
    margin-right: 0;
    margin-left: 34px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -135px;
    margin-left: 4px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 20px;
    margin-left: 4px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 28px;
    margin-left: 4px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 374px;
  }

  .u-section-2 .u-group-2 {
    min-height: 1255px;
    margin-top: 43px;
    margin-bottom: 43px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 28px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 34px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 224px;
    width: 340px;
    margin-top: 41px;
  }
}