 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/215c7fdca6033092baa04b35c17466bd.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 974px;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px 231px 0 auto;
  padding: 8px 15px 9px;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -45px 116px 0 auto;
  padding: 8px 15px 9px;
}

.u-section-1 .u-btn-3 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -45px 0 0 auto;
  padding: 8px 15px 9px;
}

.u-section-1 .u-group-1 {
  width: 566px;
  background-image: linear-gradient(#2a7cb2, #5629b2);
  min-height: 289px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 102px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-icon-1 {
  font-size: 1.3126em;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: 443px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 16px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: -15px auto 0;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-group-2 {
  background-image: linear-gradient(#2a7cb2, #5629b2);
  min-height: 336px;
  height: auto;
  width: 490px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 46px auto 0 54px;
}

.u-section-1 .u-container-layout-2 {
  padding: 16px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  width: 365px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 29px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px 73px 0 63px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 62px auto 0;
}

.u-section-1 .u-group-3 {
  background-image: linear-gradient(#2a7cb2, #5629b2);
  min-height: 336px;
  height: auto;
  width: 490px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -336px 54px 60px auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 16px 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 9px auto 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: 75px 57px 0 68px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 74px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 922px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 27px;
    margin-right: auto;
    margin-left: 323px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 294px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 104px;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    min-height: 348px;
    width: 434px;
    margin-top: 62px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 35px;
  }

  .u-section-1 .u-group-3 {
    width: 434px;
    margin-top: -342px;
    margin-right: 0;
    margin-bottom: 53px;
    height: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1231px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 220px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -44px;
    margin-right: 191px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 85px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 38px;
    margin-left: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: 29px;
    margin-right: auto;
    margin-bottom: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 40px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 11px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1189px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 28px;
    margin-left: 26px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -46px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 4px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    margin-top: 21px;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/d7d8dbf3811c797e5d2cc364743ae3a7.gif");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 687px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 39px auto 0 110px;
}

.u-section-2 .u-list-1 {
  width: 504px;
  margin: 7px 17px 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 370px;
}

.u-section-2 .u-container-layout-1 {
  padding: 4px 10px 0;
}

.u-section-2 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(#478ac9, #5629b2);
  min-height: 233px;
  height: auto;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 30px auto 0;
  padding: 8px 10px 9px;
}

.u-section-2 .u-container-layout-3 {
  padding: 4px 10px 0;
}

.u-section-2 .u-group-2 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(#478ac9, #5629b2);
  min-height: 233px;
  height: auto;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 30px auto 0;
  padding: 8px 10px 9px;
}

.u-section-2 .u-container-layout-5 {
  padding: 4px 10px 0;
}

.u-section-2 .u-group-3 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(#478ac9, #5629b2);
  min-height: 233px;
  height: auto;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-btn-3 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 30px auto 0;
  padding: 8px 10px 9px;
}

.u-section-2 .u-container-layout-7 {
  padding: 4px 10px 0;
}

.u-section-2 .u-group-4 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(#478ac9, #5629b2);
  min-height: 233px;
  height: auto;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-btn-4 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 30px auto 0;
  padding: 8px 10px 9px;
}

.u-section-2 .u-image-1 {
  width: 476px;
  height: 335px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0.65;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -409px auto 74px 33px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 6px;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 484px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-image-1 {
    width: 419px;
    margin-bottom: 60px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1574px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-2 .u-list-1 {
    width: 285px;
    margin-top: 54px;
    margin-right: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 978px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 50px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1090px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 272px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/215c7fdca6033092baa04b35c17466bd.gif");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1211px;
}

.u-section-3 .u-group-1 {
  width: 547px;
  background-image: linear-gradient(#478ac9, #5629b2);
  min-height: 445px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 72px auto 0 39px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 28px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 50px 35px 0;
}

.u-section-3 .u-image-1 {
  width: 417px;
  height: 417px;
  background-image: url("images/saturn.gif");
  background-position: 50% 50%;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: -402px 61px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 373px;
  height: 373px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0.4;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 142px auto 0 119px;
}

.u-section-3 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 39px auto 0 458px;
  padding: 8px 15px 9px;
}

.u-section-3 .u-group-2 {
  background-image: linear-gradient(#478ac9, #5629b2);
  min-height: 316px;
  height: auto;
  width: 515px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -457px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px 28px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 31px 5px 0;
}

.u-section-3 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 96px 486px 0 auto;
  padding: 8px 15px 9px;
}

.u-section-3 .u-btn-3 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -45px 366px 0 auto;
  padding: 8px 15px 9px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: -538px auto 0 158px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: -613px 161px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1292px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 89px;
    margin-left: 0;
    height: auto;
  }

  .u-section-3 .u-image-1 {
    width: 358px;
    height: 358px;
    margin-top: -400px;
    margin-right: 20px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 214px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 119px;
    margin-left: 319px;
  }

  .u-section-3 .u-group-2 {
    margin-top: -508px;
    height: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 147px;
    margin-right: auto;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 295px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -631px;
    margin-left: 32px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -631px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2012px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 105px;
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: 31px;
    margin-right: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: 555px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 50px;
    margin-left: 174px;
  }

  .u-section-3 .u-group-2 {
    margin-top: -807px;
    margin-right: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 447px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 155px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -919px;
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -1061px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1998px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 551px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 106px;
  }

  .u-section-3 .u-group-2 {
    min-height: 286px;
    margin-top: -804px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 473px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 84px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -916px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -1050px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1976px;
  }

  .u-section-3 .u-group-1 {
    min-height: 574px;
    margin-top: 46px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 66px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 18px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    height: 340px;
    margin-top: 530px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 46px;
    margin-left: 0;
  }

  .u-section-3 .u-group-2 {
    min-height: 438px;
    margin-top: -915px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 432px;
    margin-left: 99px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -903px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -997px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 61px;
}