.u-section-1 .u-sheet-1 {
  min-height: 489px;
}

.u-section-1 .u-shape-1 {
  width: 228px;
  height: 228px;
  background-image: linear-gradient(white, #b0f1ff);
  margin: 34px auto 0 -70px;
}

.u-section-1 .u-shape-2 {
  width: 228px;
  height: 228px;
  background-image: linear-gradient(white, #b0f1ff);
  margin: -65px auto 0 281px;
}

.u-section-1 .u-group-1 {
  width: 468px;
  min-height: 233px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -308px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 23px 48px 0 42px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 18px 42px 0;
}

.u-section-1 .u-image-1 {
  width: 539px;
  height: 539px;
  margin: -416px 69px 17px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    margin-bottom: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-right: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-2 {
    margin-left: 112px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 403px;
}

.u-section-2 .u-group-1 {
  width: 264px;
  min-height: 308px;
  background-image: linear-gradient(white, #b0f1ff);
  height: auto;
  margin: 17px 366px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 25px 16px;
}

.u-section-2 .u-text-1 {
  margin: 0 10px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 30px auto 0;
}

.u-section-2 .u-group-2 {
  width: 257px;
  min-height: 308px;
  height: auto;
  background-image: linear-gradient(white, #b0f1ff);
  margin: -308px 70px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 25px 18px;
}

.u-section-2 .u-text-2 {
  margin: 0 10px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 407px;
  height: 358px;
  margin: -325px auto 45px 11px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3910px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 318px;
    margin-left: 409px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 699px;
    margin-right: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 208px;
    margin-left: 299px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 519px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    margin-right: 276px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 118px;
    margin-left: 209px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 339px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-2 .u-group-1 {
    margin-right: 76px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 18px;
    margin-left: 109px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 139px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 299px;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 406px;
}

.u-section-3 .u-group-1 {
  width: 548px;
  min-height: 337px;
  height: auto;
  background-image: linear-gradient(white, #b0f1ff);
  margin: 59px auto 0 22px;
}

.u-section-3 .u-container-layout-1 {
  padding: 18px 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  width: 366px;
  margin: 15px auto 0;
}

.u-section-3 .u-table-1 {
  width: 400px;
  margin: 32px auto 0;
}

.u-block-6491-5 {
  font-size: 1rem;
}

.u-block-6491-11 {
  height: 46px;
}

.u-section-3 .u-table-cell-1 {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-3 .u-table-cell-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-3 {
  font-size: 1rem;
}

.u-section-3 .u-table-cell-4 {
  background-image: none;
}

.u-section-3 .u-table-cell-5 {
  font-size: 1rem;
}

.u-section-3 .u-table-cell-6 {
  background-image: none;
}

.u-section-3 .u-table-cell-7 {
  font-size: 1rem;
}

.u-section-3 .u-table-cell-8 {
  background-image: none;
}

.u-block-6491-24 {
  height: 46px;
}

.u-section-3 .u-image-1 {
  width: 551px;
  height: 307px;
  margin: -307px 0 10px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 301px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    width: 320px;
  }

  .u-section-3 .u-table-1 {
    width: 320px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 190px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 862px;
}

.u-section-4 .u-image-1 {
  width: 521px;
  height: 521px;
  margin: 0 auto 0 49px;
}

.u-section-4 .u-shape-1 {
  width: 228px;
  height: 228px;
  background-image: linear-gradient(white, #b0f1ff);
  margin: -550px -15px 0 auto;
}

.u-section-4 .u-shape-2 {
  width: 192px;
  height: 192px;
  background-image: linear-gradient(white, #b0f1ff);
  margin: -35px 340px 0 auto;
}

.u-section-4 .u-group-1 {
  width: 530px;
  min-height: 179px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: -266px 24px 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  margin: 38px 19px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3658px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 2682px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -25px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -3508px;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 469px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -518px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -308px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 249px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    margin-left: 19px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -569px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -44px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -267px;
    margin-right: 10px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 69px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -388px;
  }

  .u-section-4 .u-shape-2 {
    margin-right: 148px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }
}