 .u-section-1 {
  background-image: url("images/137cf549-2264-0d06-7dbf-32fdc057e668.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 820px;
}

.u-section-1 .u-image-1 {
  width: 755px;
  height: 785px;
  margin: 35px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 5.5rem;
  font-weight: 700;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  margin: -697px 534px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 18px 607px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 463px;
  margin: 52px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 70px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 10px 10px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
  padding: 10px 40px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 70px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 10px 10px 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
  padding: 10px 31px 10px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-1 .u-image-1 {
    width: 622px;
    height: 671px;
    margin-top: 28px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-top: -604px;
    margin-right: 450px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-1 .u-image-1 {
    width: 510px;
    height: 677px;
    margin-top: 110px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -720px;
    margin-right: 230px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 360px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 71px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1201px;
  }

  .u-section-1 .u-image-1 {
    width: 479px;
    height: 574px;
    margin-top: 628px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -1134px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 394px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 78px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 78px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1010px;
  }

  .u-section-1 .u-image-1 {
    height: 407px;
    width: 322px;
    margin-top: 603px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -943px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 781px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 64px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 41px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 336px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 16px;
}

.u-section-2 .u-image-1 {
  height: 210px;
  width: 210px;
  background-image: url("images/d85c6484-e032-e766-114a-3c4f70b9cd91.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.27778rem;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 32px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 210px;
  width: 210px;
  background-image: url("images/dsdsd.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.27778rem;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 32px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 16px;
}

.u-section-2 .u-image-3 {
  height: 210px;
  width: 210px;
  background-image: url("images/000d68fc-8143-28ce-c245-876398073a2d.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.27778rem;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 32px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 30px 16px;
}

.u-section-2 .u-image-4 {
  height: 210px;
  width: 210px;
  background-image: url("images/8554a0da-6262-fe25-42cf-743b0d0f3815.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.27778rem;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 32px 0 0;
}

.u-section-2 .u-list-2 {
  margin-top: -30px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 336px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 30px 16px;
}

.u-section-2 .u-image-5 {
  height: 210px;
  width: 210px;
  background-image: url("images/3593cf325b7ae388a94560b3b1143389b66e52eef8af746ee3b5d418350ed34379ced0e4336d82299bf38b91bb178fc674b853990d9cc2584f7a49_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.27778rem;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 32px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 30px 16px;
}

.u-section-2 .u-image-6 {
  height: 210px;
  width: 210px;
  background-image: url("images/25ea3884e453a86c07913d0be7c13b6d289dbdbbaaca81df0e5ea431e87b5e299a8a8af18bcc665fc0476eda70096cb91d5751b2a4aa5a8e9b2aa1_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1.27778rem;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 32px 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 30px 16px;
}

.u-section-2 .u-image-7 {
  height: 210px;
  width: 210px;
  background-image: url("images/27ce5819d91c0554750eb7c1d0ae7bf9a138b4b4aa15392a9f066d6c606c76183397337d39b76af9d92db6529189341eebfc416b1b6eb232d428f0_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  font-size: 1.27778rem;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 32px 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 30px 16px;
}

.u-section-2 .u-image-8 {
  height: 210px;
  width: 210px;
  background-image: url("images/e5b42514f772af6926ead5ce4e18deaf8983d2ddc74866f5a85ea6131182707a1e2a7bbba310f3f4435522aade81b0eff2fd3e477f0e80b936a22d_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  font-size: 1.27778rem;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 32px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, 25%);
    min-height: 277px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 188px;
    width: 188px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 188px;
    width: 188px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 188px;
    width: 188px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-4 {
    height: 188px;
    width: 188px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(4, 25%);
    min-height: 277px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 891px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(2, 50%);
    min-height: 849px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 914px;
}

.u-section-3 .u-group-1 {
  width: 622px;
  min-height: 747px;
  height: auto;
  margin: 60px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.8;
  font-weight: 700;
  margin: 35px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2.2;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 35px auto 0 0;
  padding: 10px 31px 10px 30px;
}

.u-section-3 .u-list-1 {
  width: 505px;
  margin: -766px 0 41px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 784px;
  grid-gap: 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-icon-1 {
  height: 33px;
  width: 33px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 13px 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 13px 92px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-icon-2 {
  height: 33px;
  width: 33px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: 13px 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 13px 92px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-3 .u-icon-3 {
  height: 33px;
  width: 33px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-8 {
  margin: 13px 0 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: 13px 92px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1004px;
  }

  .u-section-3 .u-group-1 {
    width: 454px;
    min-height: 864px;
    height: auto;
  }

  .u-section-3 .u-list-1 {
    width: 458px;
    margin-top: -824px;
    margin-bottom: 100px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1541px;
  }

  .u-section-3 .u-group-1 {
    min-height: 709px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-list-1 {
    margin-top: 20px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 692px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 702px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 36px;
  margin-bottom: 11px;
}

.u-section-4 .u-image-1 {
  min-height: 655px;
  background-image: url("images/gffgfg.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 8px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 655px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 14px 30px;
}

.u-section-4 .u-text-2 {
  margin: 48px 16px 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 20px 16px 0;
}

.u-section-4 .u-line-1 {
  width: 456px;
  margin: 30px 16px 0 auto;
}

.u-section-4 .u-text-4 {
  margin: 26px 16px 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 17px 16px 0;
}

.u-section-4 .u-line-2 {
  width: 456px;
  margin: 20px 16px 0 auto;
}

.u-section-4 .u-text-6 {
  margin: 16px 16px 0 auto;
}

.u-section-4 .u-text-7 {
  margin: 17px 16px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-4 .u-image-1 {
    min-height: 540px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 540px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-line-1 {
    width: 442px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-line-2 {
    width: 442px;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-4 .u-image-1 {
    min-height: 414px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-line-1 {
    width: 332px;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-line-2 {
    width: 332px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-4 .u-image-1 {
    min-height: 621px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-4 .u-image-1 {
    min-height: 391px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-line-1 {
    width: 320px;
  }

  .u-section-4 .u-line-2 {
    width: 320px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 965px;
}

.u-section-5 .u-shape-1 {
  height: 552px;
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-5 .u-group-1 {
  width: 838px;
  min-height: 98px;
  height: auto;
  margin: -539px auto 0;
}

.u-section-5 .u-text-1 {
  margin: 42px 0 0;
}

.u-section-5 .u-gallery-1 {
  height: 745px;
  width: 1140px;
  grid-gap: 17px 17px;
  margin: 34px auto 36px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 41px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 1046px;
  }

  .u-section-5 .u-shape-1 {
    height: 519px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -471px;
    height: auto;
  }

  .u-section-5 .u-gallery-1 {
    height: 614px;
    width: 940px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1490px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
    min-height: 186px;
    margin-top: -452px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
  }

  .u-section-5 .u-gallery-1 {
    height: 1058px;
    width: 720px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 3606px;
  }

  .u-section-5 .u-shape-1 {
    height: 1132px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
    margin-top: -1065px;
  }

  .u-section-5 .u-gallery-1 {
    height: 3174px;
    width: 540px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 2419px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1998px;
    width: 340px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/fgfgfg-min.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 760px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 640px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 28px;
}

.u-section-6 .u-text-1 {
  margin: 27px 2px 0;
}

.u-section-6 .u-list-1 {
  width: 417px;
  margin: 32px auto 0 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 387px;
  grid-gap: 0px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 30px 15px 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: none;
  margin: 0 2px 0 0;
}

.u-section-6 .u-icon-1 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.1em;
}

.u-section-6 .u-text-3 {
  margin: 21px 1px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 30px 15px 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: none;
  margin: 0 2px 0 0;
}

.u-section-6 .u-icon-2 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.1em;
}

.u-section-6 .u-text-5 {
  margin: 21px 1px 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px 30px 15px 0;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: none;
  margin: 0 2px 0 0;
}

.u-section-6 .u-icon-3 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.1em;
}

.u-section-6 .u-text-7 {
  margin: 21px 1px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 640px;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 29px;
}

.u-section-6 .u-form-1 {
  height: 502px;
  margin: 0 0 0 32px;
}

.u-section-6 .u-label-1 {
  font-weight: 700;
}

.u-section-6 .u-label-2 {
  font-weight: 700;
}

.u-section-6 .u-form-group-3 {
  margin-left: 0;
}

.u-section-6 .u-label-3 {
  font-weight: 700;
}

.u-section-6 .u-label-4 {
  font-weight: 700;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-list-1 {
    width: 410px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 588px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 30px;
  }

  .u-section-6 .u-form-1 {
    height: 478px;
    width: 426px;
    margin-top: 25px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 87px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 610px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 9px;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 391px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 610px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-right: 0;
    padding-left: 29px;
  }

  .u-section-6 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 187px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 409px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }
}