.u-section-1 .u-sheet-1 {
  min-height: 606px;
}

.u-section-1 .u-image-1 {
  width: 425px;
  height: 425px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 118px 60px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 293px;
  height: 293px;
  background-image: linear-gradient(white, #baedff);
  margin: -523px auto 0 -70px;
}

.u-section-1 .u-group-1 {
  width: 591px;
  min-height: 244px;
  height: auto;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -167px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 31px 13px 0 40px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 31px 59px 0 43px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-1 .u-image-1 {
    width: 387px;
    height: 387px;
    margin-top: 121px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -507px;
    margin-left: -34px;
  }

  .u-section-1 .u-group-1 {
    width: 481px;
    min-height: 501px;
    margin-top: -239px;
    margin-left: 22px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 24px;
    margin-right: 40px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1038px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 643px;
    margin-right: auto;
  }

  .u-section-1 .u-shape-1 {
    width: 245px;
    height: 245px;
    margin-top: -977px;
    margin-left: 17px;
  }

  .u-section-1 .u-group-1 {
    min-height: 487px;
    margin-top: -181px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 53px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-left: 38px;
    margin-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 634px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -962px;
    margin-left: -27px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -179px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 992px;
  }

  .u-section-1 .u-image-1 {
    height: 320px;
    width: 320px;
    margin-top: 41px;
  }

  .u-section-1 .u-shape-1 {
    width: 220px;
    height: 220px;
    margin-top: -910px;
    margin-left: -50px;
  }

  .u-section-1 .u-group-1 {
    min-height: 294px;
    width: 340px;
    margin-top: -139px;
    margin-bottom: -191px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin: 9px 20px -9px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 605px;
}

.u-section-2 .u-image-1 {
  width: 464px;
  height: 464px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 56px auto 0 54px;
}

.u-section-2 .u-group-1 {
  width: 570px;
  background-image: linear-gradient(white, #baedff);
  min-height: 516px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -450px 0 19px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 17px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 438px;
  margin: 21px auto 0;
}

.u-section-2 .u-table-1 {
  width: 400px;
  margin: 30px auto 0;
}

.u-block-c305-52 {
  height: 46px;
}

.u-block-c305-73 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-2 .u-image-1 {
    width: 398px;
    height: 398px;
    margin-top: 21px;
    margin-left: 16px;
  }

  .u-section-2 .u-group-1 {
    width: 470px;
    min-height: 477px;
    margin-top: -437px;
    margin-right: -22px;
    margin-bottom: -19px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1063px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 564px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: -907px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1076px;
  }

  .u-section-2 .u-image-1 {
    height: 424px;
    width: 424px;
    margin-top: 55px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -967px;
    margin-bottom: 2px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 23px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-2 .u-image-1 {
    height: 340px;
    margin-top: 565px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: -863px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: 118px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 585px;
}

.u-section-3 .u-image-1 {
  width: 465px;
  height: 462px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 75px 28px 0 auto;
}

.u-section-3 .u-group-1 {
  width: 521px;
  min-height: 410px;
  height: auto;
  background-image: linear-gradient(white, #baedff);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -423px auto 60px 21px;
}

.u-section-3 .u-container-layout-1 {
  padding: 13px 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 28px 14px 0 33px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 19px 36px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-3 .u-image-1 {
    width: 397px;
    height: 377px;
    margin-top: 70px;
    margin-right: -25px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -393px;
    margin-bottom: 53px;
    margin-left: -6px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 41px;
    margin-right: auto;
  }

  .u-section-3 .u-group-1 {
    margin-top: -815px;
    margin-left: auto;
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 842px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1003px;
  }

  .u-section-3 .u-image-1 {
    height: 338px;
    margin-top: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-1 {
    width: 373px;
    min-height: 558px;
    margin: -931px -17px -184px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: 48px;
    margin-left: 62px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 583px;
}

.u-section-4 .u-image-1 {
  width: 422px;
  height: 600px;
  margin: -9px auto 0 21px;
}

.u-section-4 .u-shape-1 {
  width: 293px;
  height: 293px;
  background-image: linear-gradient(white, #baedff);
  margin: -623px 392px 0 auto;
}

.u-section-4 .u-group-1 {
  width: 624px;
  background-image: none;
  min-height: 259px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -208px -54px 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 17px 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 27px 48px 0 33px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 27px 64px 0 33px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-4 .u-image-1 {
    height: 601px;
    margin-top: 127px;
    margin-left: 16px;
  }

  .u-section-4 .u-shape-1 {
    width: 250px;
    height: 250px;
    margin-top: -748px;
    margin-right: auto;
    margin-left: 303px;
  }

  .u-section-4 .u-group-1 {
    width: 549px;
    min-height: 266px;
    margin-top: -178px;
    margin-right: 0;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 22px;
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 32px;
    margin-left: 42px;
    margin-right: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 938px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 337px;
    margin-left: auto;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -960px;
    margin-right: 23px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: -162px;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 23px;
    margin-left: 54px;
    margin-right: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-shape-1 {
    margin-top: -934px;
    margin-right: -34px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
    margin-top: -188px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 44px;
    margin-left: 38px;
    margin-right: 33px;
  }

  .u-section-4 .u-text-2 {
    width: 378px;
    margin-top: 18px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-4 .u-image-1 {
    height: 484px;
    margin-top: 433px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -898px;
  }

  .u-section-4 .u-group-1 {
    min-height: 316px;
    margin-top: -152px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 32px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-left: 19px;
    margin-right: 19px;
  }
}