.u-section-1 .u-sheet-1 {
  min-height: 712px;
}

.u-section-1 .u-image-1 {
  width: 800px;
  height: 800px;
  margin: 1px -178px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 293px;
  height: 293px;
  background-image: linear-gradient(white, #baedff);
  margin: -733px auto 0 -94px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 488px;
  height: auto;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -231px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 28px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 31px 13px 0 40px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 32px 0 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-image-1 {
    width: 552px;
    height: 552px;
    margin-top: 41px;
    margin-right: -133px;
  }

  .u-section-1 .u-shape-1 {
    width: 258px;
    height: 258px;
    margin-top: -583px;
    margin-left: -32px;
  }

  .u-section-1 .u-group-1 {
    width: 565px;
    min-height: 477px;
    margin-top: -197px;
    margin-bottom: -52px;
    margin-left: 27px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 24px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 37px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-right: 27px;
    margin-left: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1031px;
  }

  .u-section-1 .u-image-1 {
    width: 702px;
    height: 702px;
    margin-top: 461px;
    margin-right: auto;
  }

  .u-section-1 .u-shape-1 {
    width: 245px;
    height: 245px;
    margin-top: -1143px;
    margin-left: 45px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -195px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 36px;
    margin-left: 36px;
    margin-right: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-image-1 {
    height: 540px;
    margin-top: 491px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -1023px;
    margin-left: -29px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -192px;
    min-height: 508px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 8px;
    margin-left: 40px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 15px;
    margin-left: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1194px;
  }

  .u-section-1 .u-image-1 {
    height: 748px;
    width: 471px;
    margin-top: 627px;
    margin-right: auto;
    margin-left: -50px;
  }

  .u-section-1 .u-shape-1 {
    width: 220px;
    height: 220px;
    margin-top: -1339px;
    margin-right: -39px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -169px;
    min-height: 723px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 42px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 664px;
}

.u-section-2 .u-image-1 {
  width: 672px;
  height: 794px;
  margin: -94px auto 0 -66px;
}

.u-section-2 .u-group-1 {
  width: 617px;
  background-image: linear-gradient(white, #baedff);
  min-height: 433px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -614px -94px 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 17px 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 34px 39px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 47px 56px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-2 .u-image-1 {
    width: 692px;
    height: 431px;
    margin-top: 0;
    margin-left: -135px;
  }

  .u-section-2 .u-group-1 {
    width: 536px;
    margin-top: -431px;
    margin-right: -27px;
    margin-bottom: 38px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 872px;
  }

  .u-section-2 .u-image-1 {
    width: 707px;
    height: 506px;
    margin-top: 366px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    width: 612px;
    margin-top: -834px;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .u-section-2 .u-text-1 {
    margin-left: -2px;
    margin-right: -2px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-2 .u-image-1 {
    height: 455px;
    width: 608px;
    margin-top: 348px;
    margin-left: -34px;
    margin-right: -34px;
  }

  .u-section-2 .u-group-1 {
    min-height: 391px;
    margin-top: -784px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    margin-left: 39px;
    margin-right: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 812px;
  }

  .u-section-2 .u-image-1 {
    height: 412px;
    width: 434px;
    margin-top: 400px;
    margin-left: -47px;
    margin-right: -47px;
  }

  .u-section-2 .u-group-1 {
    min-height: 422px;
    margin-top: -763px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-left: 18px;
    margin-right: 18px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 650px;
}

.u-section-3 .u-image-1 {
  width: 771px;
  height: 709px;
  margin: -30px -212px 0 auto;
}

.u-section-3 .u-group-1 {
  width: 620px;
  min-height: 407px;
  height: auto;
  background-image: linear-gradient(white, #baedff);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -558px auto 60px -50px;
}

.u-section-3 .u-container-layout-1 {
  padding: 13px 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 23px 40px 0 33px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 40px 40px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-3 .u-image-1 {
    width: 513px;
    height: 607px;
    margin-top: -25px;
    margin-right: -43px;
  }

  .u-section-3 .u-group-1 {
    width: 488px;
    min-height: 443px;
    margin-top: -566px;
    margin-left: -18px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 33px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 24px;
    margin-left: 33px;
    margin-right: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-image-1 {
    width: 532px;
    height: 687px;
    margin-top: 326px;
    margin-right: auto;
  }

  .u-section-3 .u-group-1 {
    min-height: 442px;
    margin-top: -1005px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-3 .u-image-1 {
    width: 565px;
    height: 396px;
    margin-top: 488px;
    margin-right: -39px;
  }

  .u-section-3 .u-group-1 {
    min-height: 450px;
    margin-top: -846px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 29px;
    margin-right: 38px;
    margin-left: 26px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 16px;
    margin-right: 38px;
    margin-left: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1132px;
  }

  .u-section-3 .u-image-1 {
    height: 523px;
    width: 390px;
    margin-top: 609px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-3 .u-group-1 {
    width: 373px;
    min-height: 594px;
    margin-top: -1076px;
    margin-left: -16px;
    margin-right: -16px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 18px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 48px;
    margin-left: 18px;
    margin-right: 18px;
  }
} .u-section-4 {
  min-height: 620px;
}

.u-section-4 .u-sheet-1 {
  min-height: 633px;
}

.u-section-4 .u-image-1 {
  width: 620px;
  height: 646px;
  margin: 0 auto 0 -50px;
}

.u-section-4 .u-shape-1 {
  width: 268px;
  height: 268px;
  background-image: linear-gradient(white, #baedff);
  margin: -660px 0 0 auto;
}

.u-section-4 .u-group-1 {
  width: 610px;
  background-image: none;
  min-height: 202px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -189px 91px 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 53px 57px 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 537px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 66px;
    margin-left: -24px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -726px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -214px;
    margin-right: 60px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    margin-top: 139px;
    margin-left: auto;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -811px;
    margin-right: 11px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -180px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 563px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -728px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 22px;
    margin-right: 22px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 328px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-4 .u-image-1 {
    height: 354px;
    margin-top: 259px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -622px;
    margin-right: -50px;
  }

  .u-section-4 .u-group-1 {
    min-height: 245px;
    margin-top: -197px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}